:root{
    --font-size:1.2rem;
    --letter-width:calc(var(--font-size) * 0.65);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: monospace;
    font-size: var(--font-size);
}

.hidden-input {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    outline: none;
    border: none;
    color: transparent;
    z-index: -10;
}

.text {
    cursor: context-menu;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-move-left{
    height: 100%;
    border-left: solid 2px black;
    position: relative;
    animation:cursor-blink 1000ms infinite,cursor-move-left 100ms;
}

.cursor-move-right{
    height: 100%;
    border-left: solid 2px black;
    position: relative;
    animation:cursor-blink 1000ms infinite,cursor-move-right 100ms;
}

@keyframes cursor-move-right {
    0% {
        right:var(--letter-width);
    }
    100%{
        right:0px;
    }
}

@keyframes cursor-move-left {
    0% {
        left:var(--letter-width);
    }
    100%{
        border-color: white;
        left:0px;
    }
}

@keyframes cursor-blink {
    0% {
        border-color: black;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: black;
    }
}

.letter{
    display:inline-block;
    width:var(--letter-width);
}