:root {
    --font-size: 1.2rem;
    --letter-width: calc(var(--font-size) * 0.65);

}

.light-mode {
    --background: whitesmoke;
    --text: #000000;
    --border: rgb(80, 80, 80);
}

.dark-mode {
    --background: #262a33;
    --text: #d4ced9;
    --border: #15c8a3;
}


body {
    padding: 0;
    margin: 0;
    color: var(--text);
}

button {
    background-color: var(--background);
    outline: none;
    border: none;
    padding: 0.3rem 1.8rem;
    margin-top: -0.3rem;
    letter-spacing: 2px;
    border-radius: 0px;
    border: 1px solid var(--border);
    transition: all 100ms;
    transform: scale(1);
    cursor: pointer;
    color: var(--text);
}

button:hover {
    transform: scale(1.1);
}

button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: monospace;
    font-size: var(--font-size);
    background-color: var(--background);
    color: var(--text);
}

/* ***************************** styles for the test container **************************************** */

.test-container {
    width: 80vw;
    position: relative;
    /* z-index:10; */
}

.test-container::after {
    --size: 100px;
    --height: calc(var(--size) * 0.5);
    content: '';
    width: var(--size);
    height: var(--height);
    display: block;
    position: relative;
    bottom: calc(var(--height) - 20px);
    left: calc(100% - 80px);
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    z-index: 0;
}

.test-container::before {
    --size: 100px;
    --height: calc(var(--size) * 0.5);
    content: '';
    width: var(--size);
    height: var(--height);
    display: block;
    position: relative;
    top: calc(var(--height) - 20px);
    left: -20px;
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    z-index: 0;
}

.focus-warning {
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/* ****************************************************************************************** */


/* ***************************** styles for the Text **************************************** */

.hidden-input {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: transparent;
    outline: none;
    border: none;
    color: transparent;
    z-index: -10;
}

.text {
    cursor: context-menu;
}

.letter {
    display: inline-block;
    width: var(--letter-width);
}

.correct {
    color: #15c8a3;
}

.wrong {
    color: #d33d35;
}

.word {
    display: inline-block;
}


.cursor-move-left {
    display: inline-block;
    height: 0px;
    position: relative;
    animation: cursor-blink 1000ms infinite, cursor-move-left 100ms;
}

.cursor-move-right {
    display: inline-block;
    height: 0px;
    position: relative;
    animation: cursor-move-right 100ms;
}

.cursor-move-right::after,
.cursor-move-left::after {
    --cursor-height: 25px;
    position: absolute;
    bottom: -7px;
    left: 0px;
    content: "";
    height: var(--cursor-height);
    border-left: solid 2px var(--border);
    animation: cursor-blink 1000ms infinite;
}

@keyframes cursor-move-right {
    0% {
        right: var(--letter-width);
    }

    100% {
        right: 0px;
    }
}

@keyframes cursor-move-left {
    0% {
        left: var(--letter-width);
    }

    100% {
        left: 0px;
    }
}

@keyframes cursor-blink {
    0% {
        border-color: var(--border);
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: var(--border);
    }
}

/* *********************************************************************************************** */

/* ***************************** styles for the num words **************************************** */
.controls {
    display: flex;
    justify-content: space-between;

}

.num-words-selector {
    display: flex;
}

.num-words-selector div {
    cursor: pointer;
}

.active-num-words {
    background-color: var(--background);
    border: 1px solid var(--border);
}

.partition {
    height: 100%;
    border-left: solid 1px var(--border);
    margin: 0rem 0.5rem;
}

/* *********************************************************************************************** */


/* ***************************** styles for the bottom options **************************************** */

.bottom-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-container>div {
    border-top: 1px solid var(--border);
}


.bottom-box-container {
    position: relative;
}

.bottom-box-container {
    position: absolute;
    bottom: 50px;
    width: 100vw;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-box-wrapper>div::after {
    --size: 80px;
    --height: calc(var(--size) * 0.3);
    content: '';
    width: var(--size);
    height: var(--height);
    display: block;
    position: relative;
    bottom: calc(var(--height) - 10px);
    left: calc(100% - calc(var(--size) - 10px));
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    z-index: -5;
}

.bottom-box-wrapper>div::before {
    --size: 80px;
    --height: calc(var(--size) * 0.3);
    content: '';
    width: var(--size);
    height: var(--height);
    display: block;
    position: relative;
    top: calc(var(--height) - 10px);
    left: -10px;
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    z-index: -5;
}

.help {
    max-width: 70vw;
    margin-left: 20px;
    margin-right: 10px;
}

/* *********************************************************************************************** */