:root{
    --font-size:1.2rem;
    --letter-width:calc(var(--font-size) * 0.65);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: monospace;
    font-size: var(--font-size);
    /* font-weight: ; */
}

.hidden-input {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    outline: none;
    border: none;
    color: transparent;
    z-index: -10;
}

.text {
    cursor: context-menu;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-move-left{
    height: 100%;
    border-left: solid 1px black;
    position: relative;
    animation:cursor-blink 1000ms infinite,cursor-move-left 100ms;
}

.cursor-move-right{
    height: 100%;
    border-left: solid 1px black;
    position: relative;
    animation:cursor-blink 1000ms infinite,cursor-move-right 100ms;
}

@keyframes cursor-move-right {
    0% {
        right:var(--letter-width);
    }
    100%{
        right:0px;
    }
}

@keyframes cursor-move-left {
    0% {
        left:var(--letter-width);
    }
    100%{
        border-color: white;
        left:0px;
    }
}

@keyframes cursor-blink {
    0% {
        border-color: black;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: black;
    }
}

.letter{
    display:inline-block;
    width:var(--letter-width);
}

.controls{
    display: flex;
    justify-content: space-between;
}

.test{
    width:80vw;
}

button {
    background-color: rgba(158, 158, 158, 0);
    outline: none;
    border: none;
    padding: 0.3rem 1.8rem;
    margin-top: -0.3rem;
    letter-spacing: 2px;
    border-radius: 0px;
    border: 1px solid rgb(80, 80, 80);
    transition: all 100ms;
    transform: scale(1);
}

button:hover {
    transform: scale(1.1);
}

button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.num-words-selector{
    display: flex;
    /* flex-direction: column; */
}
.num-words-selector div{
    cursor: pointer;
}
.active-num-words{
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(80, 80, 80);
}